@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 210 16% 97%; /* very light cool gray */
    --foreground: 222.2 47.4% 11.2%; /* dark gray */

    --card: 210 20% 98%; /* very light cool gray */
    --card-foreground: 222.2 47.4% 11.2%; /* dark gray */

    --popover: 210 20% 98%; /* very light cool gray */
    --popover-foreground: 222.2 47.4% 11.2%; /* dark gray */

    --primary: 210 25% 85%; /* cool medium gray */
    --primary-foreground: 222.2 84% 4.9%; /* very dark gray */

    --secondary: 210 20% 92%; /* light cool gray */
    --secondary-foreground: 222.2 47.4% 11.2%; /* dark gray */

    --muted: 210 16% 95%; /* very light cool gray */
    --muted-foreground: 222.2 47.4% 11.2%; /* dark gray */

    --accent: 205, 82%, 47%; /* cool teal */
    --accent-foreground: 205, 82%, 20%; /* very dark gray */

    --destructive: 0 72% 63%; /* soft red */
    --destructive-foreground: 222.2 84% 4.9%; /* very dark gray */

    --border: 210 16% 90%; /* light cool gray */
    --input: 210 16% 90%; /* light cool gray */
    --ring: 210 25% 85%; /* cool medium gray */

    --radius: 0.5rem;
  }

  .dark {
    --background: 217.2 32.6% 17.5%; /* #111827 */
    --foreground: 210 40% 98%; /* light gray */

    --card: 217.2 32.6% 17.5%; /* #111827 */
    --card-foreground: 210 40% 98%; /* light gray */

    --popover: 217.2 32.6% 17.5%; /* #111827 */
    --popover-foreground: 210 40% 98%; /* light gray */

    --primary: 222.2 47.4% 11.2%; /* #1f2937 */
    --primary-foreground: 210 40% 98%; /* light gray */

    --secondary: 222.2 47.4% 11.2%; /* #1f2937 */
    --secondary-foreground: 210 40% 98%; /* light gray */

    --muted: 217.2 32.6% 17.5%; /* #111827 */
    --muted-foreground: 215 20.2% 65.1%; /* #d1d5db */

    --accent: 166.1 56.7% 43.5%; /* #14b8a6 */
    --accent-foreground: 210 40% 98%; /* light gray */

    --destructive: 0 62.8% 30.6%; /* darker red */
    --destructive-foreground: 210 40% 98%; /* light gray */

    --border: 217.2 32.6% 17.5%; /* #111827 */
    --input: 217.2 32.6% 17.5%; /* #111827 */
    --ring: 212.7 26.8% 83.9%; /* light ring */
  }
}

@layer base {
  .h1 {
    @apply text-5xl xl:text-7xl leading-[1.1] font-satoshi;
  }

  .h2 {
    @apply text-4xl xl:text-5xl leading-[1.1] font-satoshi;
  }

  .h3 {
    @apply text-xl xl:text-2xl leading-[1.1] font-satoshi;
  }
}

* {
  font-family:Satoshi,system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Noto Sans,Liberation Sans,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-style: normal;
  font-weight: 500;
}

h1{
  font-weight: 600;
}

h2,h3 {
  font-weight: 500;
}

button span {
  font-weight: 600;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkTextCursor {
  from { border-right-color: rgba(255, 255, 255, 0.75); }
  to { border-right-color: transparent; }
}

.typewriter-line1, .typewriter-line2 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid rgba(255, 255, 255, 0.75);
}

.typewriter-line1 {
  animation: 
    typewriter 1s steps(20, end) 0.5s 1 normal both,
    blinkTextCursor 500ms steps(40, end) 1.5s 1 forwards;
}

.hidden-cursor {
  border-right: none;
}

.hidden-line {
  opacity: 0;
}

.typewriter-line2 {
  animation: 
    typewriter 1s steps(20, end) 0.5s 1 normal both,
    blinkTextCursor 500ms steps(40, end) 1.5s 1 forwards;
}
